<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015 huwentao (vernon.huwt@gmail.com)
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="www.ht.com.app">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".ui.core.TutorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NDinBCL2YmTI5xtFilLfeNXp" />
        <!-- 公共 -->
        <activity
            android:name=".ui.activity.LoadingActivity"
            android:label="@string/title_activity_loading">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingActivity"
            android:label="@string/title_activity_setting">
        </activity>
        <activity
            android:name=".ui.activity.MessageActivity"
            android:label="@string/title_activity_message">
        </activity>
        <activity
            android:name=".ui.activity.AboutActivity"
            android:label="@string/title_activity_about">
        </activity>
        <activity
            android:name=".ui.activity.AdviceActivity"
            android:label="@string/title_activity_advice">
        </activity>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:label="@string/title_activity_register">
        </activity>
        <!-- 家长 -->
        <activity android:name=".ui.activity.parent.ParentMainActivity">
        </activity>
        <activity
            android:name=".ui.activity.teacher.TeacherActivity"
            android:label="@string/title_activity_teacher">
        </activity>
        <activity
            android:name=".ui.activity.parent.ParentActivity"
            android:label="@string/title_activity_parent">
        </activity>
        <activity
            android:name=".ui.activity.parent.MyHomeworkActivity"
            android:label="@string/title_activity_my_homework">
        </activity>
        <activity
            android:name=".ui.activity.parent.MyTeacherActivity"
            android:label="@string/title_activity_my_teacher">
        </activity>
        <activity
            android:name=".ui.activity.parent.MyCourseNeedActivity"
            android:label="@string/title_activity_my_course_need">
        </activity>
        <activity
            android:name=".ui.activity.parent.ParentAskActivity"
            android:label="@string/title_activity_parent_ask">
        </activity>
        <activity
            android:name=".ui.activity.parent.NearTeacherActivity"
            android:label="@string/title_activity_near_teacher">
        </activity>

        <!-- 教师 -->
        <activity android:name=".ui.activity.teacher.TeacherMainActivity">
        </activity>
        <activity
            android:name=".ui.activity.teacher.StudentHomeworkActivity"
            android:label="@string/title_activity_student_homework">
        </activity>
        <activity
            android:name=".ui.activity.teacher.AddNewCourseActivity"
            android:label="@string/title_activity_add_new_course">
        </activity>
        <activity
            android:name=".ui.activity.teacher.MyCourseActivity"
            android:label="@string/title_activity_my_course">
        </activity>
        <activity
            android:name=".ui.activity.teacher.StudentParentActivity"
            android:label="@string/title_activity_student_parent">
        </activity>
        <activity
            android:name=".ui.activity.teacher.NearParentActivity"
            android:label="@string/title_activity_near_parent">
        </activity>
        <activity
            android:name=".ui.activity.StudyInfoActivity"
            android:label="@string/title_activity_study_info">
        </activity>
        <activity
            android:name=".ui.activity.ParentTalkActivity"
            android:label="@string/title_activity_parent_talk">
        </activity>
        <activity
            android:name=".ui.activity.TeacherTalkActivity"
            android:label="@string/title_activity_teacher_talk">
        </activity>
        <activity
            android:name=".ui.activity.CommunicationActivity"
            android:label="@string/title_activity_communication"></activity>
        <activity
            android:name=".ui.activity.TestLoginActivity"
            android:label="@string/title_activity_test_login">
        </activity>
    </application>

</manifest>
